# Auto detect text files and perform LF normalization
*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=true 
*.c linguist-detectable=true 
*.exe linguist-detectable=true 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 